<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Resturant</title>
</head>
<body>
    <form action="/resturants" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="resturant[name]" >
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="resturant[phone]" >
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="resturant[location]" >
    </div>
        <button>Add Resturant</button>
    </form>
    <a href="/resturants">All Resturants</a>
</body>
</html>