body {
    font-family: DMSans,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.card-img-top {
    width: 100px;
    height: 100px;
}

.img-fluid {
    width: 280px;
    height: 130px;
}

.form-control:focus {
    border: 1px solid rgb(209, 209, 209); 
    box-shadow: none;
  }

.custom-card,
.custom-card :hover{
    text-decoration: none;
    color: black;
}

.list-group-item {
    border-bottom: 0;
    padding: .1cm;
    padding-left: .4cm;
    padding-right: .4cm;
}



small{
    font-size: .8rem;
}

hr{
    margin-top: .2cm;
    margin-bottom: .2cm;
}

.btnMenu {
    background-color: rgb(216, 216, 216);
}

.btnMenu:focus {
    box-shadow: none;
}

.menuImage {
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    width: 68px;
    height: 60px;
    position: relative;
}

@media only screen and (max-width: 770px) {
    .img-fluid {
        height: 100px;
    }
    #categories {
        display: none;
    }
  }
